<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.aungkyawpaing.monex">

  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <activity
      android:name="com.aungkyawpaing.monex.internal.ui.main.MainActivity"
      android:theme="@style/MonexBaseTheme" />

    <activity
      android:name="com.aungkyawpaing.monex.internal.ui.detail.TransactionDetailActivity"
      android:theme="@style/MonexBaseTheme" />

    <service android:name=".internal.helper.ClearTransactionService"
      android:exported="false"/>

    <provider
      android:name=".internal.helper.MonexFileProvider"
      android:authorities="${applicationId}.monex.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <!-- ressource file to create -->
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/monex_file_paths">
      </meta-data>
    </provider>


  </application>

</manifest>
